<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Học ngay</button>
        </div>

        <div class="col-log-9">
             <h1>{{coursesObject.name}}</h1>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/{{coursesObject.videoid}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              <p>{{coursesObject.description}}</p>
        </div>
    </div>
</div>
