<h1>Website là project làm trong khóa học nodejs F8</h1>
<h2>Author: Vũ Minh Hiến</h2>
<li>MSV:23020064</li>
<li>Trường Đại Học Công Nghệ</li>
<li>Khoa Công Nghệ Thông Tin</li>
<li><a href="https://www.facebook.com/vuminh.hien.798?locale=vi_VN">Link facebook cá nhân</a></li>
<div class="image-background">
    <img src="https://cellphones.com.vn/sforum/wp-content/uploads/2023/07/hinh-nen-honkai-star-rail-2.jpg" alt="">
</div>